<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Cache-control" content="no-cache,must-revalidate,no-store" />
</head>
<body>
    <div id="root"></div>
</body>
</html>